@model MossadMVC.Models.MissionDetails

@{
    ViewData["Title"] = "MissionDetails";
}

<h1>MissionDetails</h1>

<div>
    <h4>MissionDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentXLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentXLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentYLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentYLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetXLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetXLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetYLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetYLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.killingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.killingTime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
